*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    color: white;
}
section{
    margin-top: 0px;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    border-bottom: 4px solid #333;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: black;
}
.home .home-content{
    text-align: justify;
}
.home .home-content h2{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 2.5rem;
    margin-top: 3rem;
}
span{
    color: #333;
}
.home .home-content h3{
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 4rem;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 82vh;
    transition: 1s linear;
    cursor: pointer;
}
.blan button{
    color: #333;
    background: green;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 800;
    border: 2px solid #333;
    box-shadow: 0px 0px 25px var(--mian-color);
}
.blan button:active{
    scale: 0.85;
}
.blan button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px green;
}

hr{
    color: #333;
}


header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
    border: none;
    outline: none;
    border-bottom: 4px solid #333;
}
.logo{
    color: green;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 4.5rem;
    font-family: italic;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.1s ease;
    text-shadow: 1px 1px 10px;
}
.logo:active{
    scale: 0.85;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 2rem;
    font-family: monospace;
    color: #fff;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.1s ease;
}
nav a:hover,
nav a.active{
    border-bottom: 3px solid #333;
    color: #333;
}
.all{
    align-items: center;
    justify-content: center;
    display: flex;
    left: 0;
    right: 0;
}
section h1{
    margin: 50px;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: #333;
    transition: 0.5s;
    text-align: center;
    margin-bottom: 30px;
}
section h1 label{
    color: green;
}
.all h1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.all input{
    width: 100%;
    height: 50%;
    padding: 20px 20px;
    margin: 20px 0;
    color: #fff;
    border: none;
    outline: none;
    border: 2px solid green;
    background: transparent;
    border-radius: 3px;
    font-family: monospace;
}
.all input::placeholder{
    color: green;
    font-family: monospace;
    font-weight: 800;
    font-size: 2rem;
}

.all textarea{
    width: 100%;
    height: 50%;
    padding: 15px 15px 60px;
    margin: 20px 0;
    color: #fff;
    border: none;
    outline: none;
    border: 2px solid green;
    background: transparent;
    border-radius: 3px;
}
.all textarea::placeholder{
    color: green;
    font-family: monospace;
    font-weight: 800;
    font-size: 2rem;
}
.all button{
    color: green;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100%;
    height: 60px;
    border: 2px solid green;
    background-image: linear-gradient(to bottom, #000,#333);
    font-family: monospace;
    font-size: 2rem;
}
.all button:active{
    transform: scale(0.95);
}
.all button:hover{
    background-image: linear-gradient(to bottom, #333,#000);
    cursor: pointer;
}
.all form{
    border: none;
    outline: none;
    min-width: 90vh;

}
.all .for form p{
    width: 100%;
    font-size: 2.5rem;
}
.all img{
    position: relative;
    width: 200vh;
    transition: 1s linear;
    cursor: pointer;
    left: 100px;
}
.lal{
    display: flex;
    left: 0;
}
.lal .words{
    min-width: 50%;
    min-height: 100%;
    font-size: 2.5rem;
    text-align: center;
}
.lal .words label{
    color: green;
    font-weight: 900;
    text-shadow: 0px 0px 10px green;
}
.lal .words p{
    margin-bottom: 20px;
}
.lal img{
    width: 480vh;
    position: relative;
    transition: 1s linear;
    cursor: pointer;
    left: 100px;
}
.lal .words button{
    color: #333;
    background: green;
    border: none;
    outline: none;
    border: 2px solid #333;
    font-size: 2rem;
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    margin-top: 20px;
    font-weight: 800;
    box-shadow: 1px 1px 10px green;
    text-shadow: 1px 1px 5px;
}
.lal .words button:active{
    scale: 0.85;
}
.lal .words button:hover{
    cursor: pointer;
    box-shadow: 4px 1px 20px green;
}


.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid blue;
    border-radius: 50%;
    margin: 1rem 0.5rem;
    transition: 0.5s ease;
}
.icons a:hover{
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0px 0px 8px gray;
}

footer{
    font-size: 2rem;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
footer label{
    color: green;
}

.new{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    gap: 5rem;
}
.new .one{
    background: url(5.jpg);
    background-size: cover;
    width: 110%;
    border-radius: 20px;
    height: 110%;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    border: 5px solid gray;
    color: white;
    font-weight: 900;
    padding: 4rem;
    text-align: center;
}
.new .one h3{
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 2.8rem;
}
.new .one span{
    color: #ff0000;
    font-size: 2.3rem;
    font-weight: 900;
}
.new .one p{
    margin-bottom: 10px;
}
.new .one:hover{
    border: 5px solid green;
    color: green;
    background: #000;
    transform: scale(1.1)translateX(-50px);
}
.new .two{
    background: url(4.jpg);
    background-size: cover;
    width: 110%;
    border-radius: 20px;
    height: 110%;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    border: 5px solid gray;
    color: gray;
    font-weight: 900;
    padding: 4rem;
    text-align: center;
}
.new .two h3{
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 3rem;
}
.new .two span{
    color: #ff0000;
    font-size: 2.3rem;
    font-weight: 900;
}
.new .two p{
    margin-bottom: 10px;
}
.new .two:hover{
    border: 5px solid green;
    color: green;
    background: #000;
    transform: scale(1.1);
}
.new .three{
    background: url(6.jpg);
    background-size: cover;
    width: 110%;
    border-radius: 20px;
    height: 110%;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    border: 5px solid gray;
    color: white;
    font-weight: 900;
    padding: 4rem;
    text-align: center;
}
.new .three h3{
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 2.5rem;
}
.new .three span{
    color: #ff0000;
    font-size: 2.3rem;
    font-weight: 900;
}
.new .three p{
    margin-bottom: 10px;
}
.new .three:hover{
    border: 5px solid green;
    color: green;
    background: #000;
    transform: scale(1.1)translateY(50px);
}
.new .four{
    background: url(7.jpg);
    background-size: cover;
    width: 110%;
    border-radius: 20px;
    height: 110%;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 2rem;
    border: 5px solid gray;
    color: gray;
    font-weight: 900;
    padding: 4rem;
    text-align: center;
}
.new .four h3{
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 3rem;
}
.new .four span{
    color: #ff0000;
    font-size: 2.3rem;
    font-weight: 900;
}
.new .four p{
    margin-bottom: 10px;
}
.new .four:hover{
    border: 5px solid green;
    color: green;
    background: #000;
    transform: scale(1.1)translateX(50px);
}
*{
    max-width: 100%;
}
/* firs media  query*/

@media screen and (max-width:995px){
    nav{
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        border-left: 3px solid #333;
        border-bottom: 3px solid #333;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: transparent;
        backdrop-filter: blur(10px);
        border-top: 1rem solid rgba(0, 0, 0, 0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }
}

@media screen and (max-width:1000px){
    .home{
        gap: 4rem;
    }
}

@media screen and (max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
        text-align: center
    }

    .home .home-content h3{
        font-size: 3rem;
        text-align: center;
    }

    .home-content h2{
        font-size: 1rem;
        text-align: center;
    }

    .home-content span{
        font-size: 4rem  ;
    }

    .home-content p{
        text-align: center;
    }

    .home-img img{
        width: 50vw;
        border-radius: 50%;
        border-bottom: 3px solid #333;
    }

    .all{
        flex-direction: column;
        text-align: center;
    }

    .new{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .lal{
        flex-direction: column;
    }
    .lal img{
        display: none;
    }
    .all form{
       min-width: 100%;
    }
    .all img{
        display: none;
    }

    section{
        padding: 1rem ;
    }

    body{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .new .one:hover{
        transform: scale(0.95);
    }
    .new .two:hover{
        transform: scale(0.95);
    }
    
    .new .three:hover{
        transform: scale(0.95);
    }
    .new .four:hover{
        transform: scale(0.90);
    }
}
